@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
.header {
  display: flex;
  background-color: #800040;
  width: 100%;
  min-height: 80px;
  overflow: hidden;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
position: fixed;
  top: 0;
}



.logo {
  font-family: "Lobster", sans-serif;
  color: #fff;
  font-size: 70px;
}

.ul {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-size: 30px;
}

.navlink {
  color: rgba(255, 255, 255, 0.724);
  text-decoration-line: none;
}

.navlink:hover {
  color: #fff;
}
